@import url("https://fonts.googleapis.com/css2?family=Overpass&family=Ubuntu&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #555;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

h3,
h2 {
  color: #1f3f5b;
}

.header {
  height: 90vh;
  background: linear-gradient(120deg, rgba(255, 143, 112, 0.8), #ff3d54), url(./../../images/bg-pattern-intro.svg) no-repeat;
  background-size: 300%;
  background-position: center;
  border-radius: 0px 0px 0px 80px;
}
.header .nav {
  position: relative;
}
.header .nav .icon {
  cursor: pointer;
  height: 30px;
  width: 40px;
}
@media screen and (min-width: 768px) {
  .header .nav .icon {
    display: none;
  }
}
.header .nav .icon .hamburger {
  background: url(./../../images/icon-hamburger.svg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  transition: 0.3s linear;
}
.header .nav .icon .close {
  background: url(./../../images/icon-close.svg) no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}
.header .nav .nav-menu {
  position: absolute;
  z-index: 100;
  width: 100%;
  height: auto;
  margin-top: 1rem;
  top: 3rem;
  padding: 1.5rem 1rem;
  background-color: white;
  border-radius: 5px;
  box-shadow: 2px -1px 16px -5px rgba(85, 42, 42, 0.58);
  opacity: 0;
  visibility: hidden;
  transition: all 0.3s ease-in-out;
}
@media screen and (min-width: 768px) {
  .header .nav .nav-menu {
    position: relative;
    opacity: 1;
    visibility: visible;
    background-color: transparent;
    box-shadow: none;
    top: initial;
    margin-top: 0;
    padding: 0rem;
    display: flex;
    width: 83%;
  }
}
@media screen and (min-width: 992px) {
  .header .nav .nav-menu {
    width: 89%;
  }
}
@media screen and (min-width: 1400px) {
  .header .nav .nav-menu {
    width: 91%;
  }
}
.header .nav .nav-menu__item {
  margin-bottom: 0.7rem;
  position: relative;
}
@media screen and (min-width: 768px) {
  .header .nav .nav-menu__item {
    margin-right: 0.5rem;
    display: flex;
    align-items: center;
  }
}
.header .nav .nav-menu__item .title {
  font-family: "ubuntu", sans-serif;
  color: #1f3f5b;
  cursor: pointer;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .header .nav .nav-menu__item .title {
    color: white;
  }
  .header .nav .nav-menu__item .title span:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 1400px) {
  .header .nav .nav-menu__item .title {
    font-size: 1.2rem;
  }
}
.header .nav .nav-menu__item .title .angle-down i {
  color: #ff525d;
  transition: transform 0.3s linear;
}
@media screen and (min-width: 768px) {
  .header .nav .nav-menu__item .title .angle-down i {
    color: white;
  }
}
@media screen and (min-width: 1400px) {
  .header .nav .nav-menu__item .title .angle-down i {
    font-size: 1.2rem;
  }
}
.header .nav .nav-menu__item .links {
  display: none;
  padding: 1.5rem 1rem;
  border-radius: 5px;
  margin-top: 1rem;
  background-color: #e2e2e4;
}
@media screen and (min-width: 768px) {
  .header .nav .nav-menu__item .links {
    position: absolute;
    top: 1rem;
    background-color: white;
    padding: 1rem 1.1rem;
  }
}
.header .nav .nav-menu__item .links li {
  font-family: "overpass", sans-serif;
  font-weight: 500;
  text-align: center;
  margin-bottom: 0.3rem;
}
@media screen and (min-width: 768px) {
  .header .nav .nav-menu__item .links li {
    margin-bottom: 0.7rem;
    text-align: left;
    margin-bottom: 0rem;
  }
  .header .nav .nav-menu__item .links li:last-child {
    margin-bottom: 0rem;
  }
}
.header .nav .nav-menu__item .links li a {
  text-decoration: none;
  color: #4b5862;
}
@media screen and (min-width: 768px) {
  .header .nav .nav-menu__item .links li a:hover {
    font-weight: 600;
  }
}
@media screen and (min-width: 1400px) {
  .header .nav .nav-menu__item .links li a {
    font-size: 1.1rem;
  }
}
.header .nav .nav-menu .buttons {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 768px) {
  .header .nav .nav-menu .buttons {
    flex-direction: row;
    right: 0;
    position: absolute;
    width: 270px;
    top: -10px;
  }
}
.header .nav .nav-menu .buttons a {
  display: block;
  margin-bottom: 0.5rem;
  padding: 0.5rem 1rem;
  width: 50%;
  border-radius: 50px;
  font-family: "ubuntu", sans-serif;
}
.header .nav .nav-menu .buttons a:last-child {
  margin-bottom: 0;
}
@media screen and (min-width: 768px) {
  .header .nav .nav-menu .buttons a {
    margin-right: 0.5rem;
    margin-bottom: 0rem;
  }
  .header .nav .nav-menu .buttons a:last-child {
    margin-right: 0;
  }
}
@media screen and (min-width: 1400px) {
  .header .nav .nav-menu .buttons a {
    font-size: 1.2rem;
  }
}
.header .nav .nav-menu .buttons .login {
  color: #1f3f5b;
}
.header .nav .nav-menu .buttons .login:hover {
  border: 2px solid #ff525d;
}
@media screen and (min-width: 768px) {
  .header .nav .nav-menu .buttons .login {
    color: white;
    width: 100%;
    font-weight: 600;
  }
  .header .nav .nav-menu .buttons .login:hover {
    border: 1px solid white;
  }
}
.header .nav .nav-menu .buttons .sign-up {
  color: white;
  background: linear-gradient(to right, #ff7a85, #ff525d);
}
@media screen and (min-width: 768px) {
  .header .nav .nav-menu .buttons .sign-up {
    color: #ff525d;
    font-weight: 600;
    background: white;
    width: 100%;
  }
  .header .nav .nav-menu .buttons .sign-up:hover {
    background: #ff7a85;
    color: white;
  }
}
.header .nav .nav-show {
  opacity: 1;
  visibility: visible;
}
.header .nav .show-links .angle-down i {
  transform: rotate(180deg);
}
.header .nav .show-links .links {
  display: block;
}
.header .text {
  font-family: "overpass", sans-serif;
  position: relative;
  transform: translateY(30%);
  text-align: center;
  color: white;
}
@media screen and (min-width: 768px) {
  .header .text {
    transform: translateY(40%);
  }
}
@media screen and (min-width: 992px) {
  .header .text {
    transform: translateY(80%);
  }
}
@media screen and (min-width: 1400px) {
  .header .text {
    transform: translateY(50%);
  }
}
.header .text h1 {
  font-size: 2.1rem;
  font-weight: 600;
}
@media screen and (min-width: 768px) {
  .header .text h1 {
    font-size: 2.3rem;
  }
}
@media screen and (min-width: 768px) {
  .header .text h1 {
    font-size: 2.8rem;
  }
}
.header .text p {
  color: #e6e6e6;
}
@media screen and (min-width: 768px) {
  .header .text p {
    margin-top: 0.7rem;
  }
}
@media screen and (min-width: 1400px) {
  .header .text p {
    font-size: 1.2rem;
  }
}
@media screen and (min-width: 768px) {
  .header .text .buttons {
    margin-top: 1.3rem;
  }
}
.header .text .buttons a {
  border-radius: 50px;
  margin-right: 0.5rem;
  padding: 0.5rem 1.1rem;
}
.header .text .buttons a:last-child {
  margin-right: 0rem;
}
@media screen and (min-width: 1400px) {
  .header .text .buttons a {
    font-size: 1.2rem;
  }
}
.header .text .buttons .btn1 {
  color: #ff525d;
  font-weight: 600;
  background-color: white;
  transition: 0.3s linear;
}
.header .text .buttons .btn1:hover {
  background-color: #ff7a85;
  color: white;
}
.header .text .buttons .btn2 {
  border: 1px solid white;
  color: white;
  font-weight: 600;
  padding: 0.5rem 1.5rem;
  transition: 0.3s linear;
}
.header .text .buttons .btn2:hover {
  background-color: white;
  color: #ff7a85;
}

.section1 {
  position: relative;
  height: 100vh;
  text-align: center;
  padding: 4rem 0rem;
}
@media screen and (min-width: 768px) {
  .section1 {
    padding: 5rem 0rem;
  }
}
@media screen and (min-width: 992px) {
  .section1 {
    padding: 6rem 0rem;
  }
}
.section1 .container {
  height: 100%;
}
.section1 .container .title {
  font-weight: 700;
  font-size: clamp(1.5rem, 6vw, 1.8rem);
  margin-bottom: 2rem;
}
.section1 .container .content {
  height: 100%;
}
.section1 .container .content .img {
  width: 100%;
}
.section1 .container .content .img .i-mobile {
  width: 100%;
}
.section1 .container .content .img .i-desktop {
  position: absolute;
  top: 1.2rem;
}
@media screen and (min-width: 992px) {
  .section1 .container .content .img {
    width: 50%;
  }
}
.section1 .container .content .text {
  width: 100%;
}
@media screen and (min-width: 992px) {
  .section1 .container .content .text {
    width: 50%;
    padding-top: 7rem;
    text-align: left;
  }
}
.section1 .container .content .text__1 {
  margin-bottom: 3rem;
}
.section1 .container .content .text .wrapper h3 {
  font-family: "overpass", sans-serif;
  font-size: 1.7rem;
  margin-bottom: 1rem;
}
.section1 .container .content .text .wrapper p {
  font-size: clamp(1.2rem, 6vw, 1.1rem);
  font-family: "overpass", sans-serif;
  color: #4b5862;
  line-height: 1.7rem;
  font-weight: 300;
}
